<div class="full-card">
    <app-sidebar [activeButton]="'Dashboard'">
        <div class="grid-container">
            <div class="grid-item itemA1A2">
                <h2>DASHBOARD</h2>
            </div>
            <div class="grid-item itemB1">
                <app-dashboard-list titleText="Professores" [listables]="profes_list"/>
            </div>
            <div class="grid-item itemB2">
                <app-dashboard-list titleText="Turmas" [listables]="turmas_list"/>
            </div>
            <div class="grid-item itemC1C2">
                <app-dashboard-list titleText="Alunos" [listables]="alunos_list"/>
            </div>
        </div>
    </app-sidebar>
</div>