<div class="full-card">
    <div class="grid-container">
        <div class="grid-item itemA1A2">
            <h2>QUADRO DE NOTAS</h2>
        </div>
        <div class="grid-item itemB1B2">
            <app-students-grades [enable]="edit_mode" [unique_info]="'Matrícula'" [listables]="class_info"/>
        </div>
        <div class="grid-item itemC1C2">
            @if ( !edit_mode ) {
                <button class="button-style button-orange" type="submit" (click)="toggleEditMode()">Editar</button>
            } @else {
                <button class="button-style button-orange" type="submit" (click)="saveButton()">Salvar</button>
                <button class="button-style" type="submit" (click)="cancelButton()">Cancelar</button>
            }
        </div>
    </div>
</div>