/* You can add global styles to this file, and also import other style files */
body {
    background-color: #2a2636;
    margin: 0;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

p {
    font-family: "Hind", sans-serif;
}

h1 {
    font-family: "Montserrat", serif;
    font-weight: 900;

    margin: 0;

    color: #2D3142;
}

label {
    font-family: "Roboto", sans-serif;
}