.dashboard-list-card{
    position: relative;
    background-color: #FFFFFF;

    height: 100%;
    width: 100%;

    border-style: solid;
    border-color: #DDE1E6;
    border-width: thin;
    box-shadow: 0 0.5vh 0.5vh #C0C0C0;
}

.dashboard-list-title{
    color: #21272A;

    width: 100%;

    font-size: 2.7vh;
    font-weight: 600;

    height: 2.7vh;

    margin: 1vw;
    margin-top: auto;
    margin-bottom: auto;
}

.dashboard-list-showall{
    background-color: transparent;
    border-style: none;

    height: 4vh;
    width: 10vw;
    
    font-size: 1.8vh;
    color: #b4bfca;

    transition: 0.2s;
    
    &:hover{
        cursor: pointer;
        color: #e2a287;
    }

    &:active{
        color: #f3d9ce;
    }
}

.listable-text{
    color: #697077;
    font-size: 2.3vh;
    height: 3.3vh;
    margin: 0.6vh;
    
    text-align: left;

    transition: 0.2s;
}

.dashboard-list-listable{
    background-color: transparent;
    border-style: none;

    width: max-content;
    padding-left: 0.6vw;
    padding-right: 4vw;

    transition: 0.2s;

    &:hover{
        cursor: pointer;

        padding-left: 1.2vw;

        .listable-text{
            color: #ef8354;
            font-size: 2.4vh;
        }
    }

    &:active{
        padding-left: 1vw;
    }
}

.flex-row{
    height: 6vh;
}