<div class="full-card">
    <div class="grid-container">
        <div class="grid-item itemA1">
            <h2>TURMA {{ class_info.code }}</h2>
        </div>
        <div class="grid-item itemA2">
            <app-category-search [doAdd]="false"/>
        </div>
        <div class="grid-item itemB1B2">
            <!-- Card Cinza -->
            <div class="flex-column period-card">
                <p class="period-title">{{ class_info.period }}</p>
                <!-- Card branco -->
                <div class="flex-column class-card">
                    <div class="flex-row class-item">
                        <p class="class-bottom-text class-text">{{ class_info.name }}</p>
                    </div>
                    <!-- Lista de Alunos -->
                    <app-students-minilist [enable]="false" [unique_info]="'Matrícula'" [listables]="class_info.students" (pageChangeStudent)="goToPage('/students/user')"/>
                </div>
                <div class="buttons-div">
                    <button class="button-style button-orange" (click)="goToPage('/register/presence')">Registro de Presença</button>
                    <button class="button-style button-orange" (click)="goToPage('/register/grades')">Quadro de Notas</button>
                </div>
            </div>
        </div>
    </div>
</div>