.main-card {
    background-color: #FFFFFF;

    margin: 0;
    width: 99vw;
    height: 98vh;

    border-radius: 1vh;
}

.input-style {
    padding: 2vh;

    border: 1px;
    border-color: #C1C7CD;

    background-color: #F2F4F8;
    box-shadow: 0 0.5vh 0.8vh #9c9c9c;

    color: #cecece;
    font-size: 2.4vh;
}

.input-style:focus {
    background-color: #322d41;
    outline: 0;
}

.button-style {
    font-size: 3vh;

    color: #FFFFFF;
    background-color: #2D3142;

    padding-left:   3vw;
    padding-right:  3vw;
    padding-top:    2vh;
    padding-bottom: 2vh;

    border: 0;
}