.pages-button{
    font-size: 2vh;
    font-weight: 500;
    color: #697077;

    background-color: transparent;
    border-style: none;

    transition: 0.2s;

    &:hover{
        cursor: pointer;
        color: #EF8354;
    }

    &:active{
        color: #ffb190;
    }
}

.current-page{
    color: #EF8354;

    font-family: "Hind", sans-serif;
    font-size: 2vh;
    font-weight: 500;

    text-align: center;

    width: 1vw;

    background-color: transparent;
    border-style: none;

    &:focus{
        color: #d36232;

        background-color: #DDE1E6;
        outline: 0;
    }
}

.prev-icon{
    margin-left: auto;
}

.next-icon{
    margin-right: auto;
}

p{
    user-select: none;

    margin-top: auto;
    margin-bottom: auto;
}

.spaced-text{
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.prev-unspace{
    padding-left: 0vw;
}

.next-unspace{
    padding-right: 0vw;
}

.ellipsis{
    color: #EF8354;

    font-weight: 1000;
    letter-spacing: 0.1vw;
}