<div class="flex-row">
    <!-- Botão Anterior -->
    <button class="pages-button prev-icon flex-row" (click)="goToPreviousPage()">
        <i class="pages-icon material-symbols-outlined">arrow_back_ios</i>
        <p class="spaced-text prev-unspace">Anterior</p>
    </button>
    <!-- Botão Primeira Aba -->
    @if ( first_page != current_page ) {
        <button class="pages-button spaced-text" (click)="goToSelectPage(first_page)"><p>{{ first_page }}</p></button>
        <p class="spaced-text ellipsis">...</p>
    }
    <!-- Botão Aba Atual -->
    <input class="current-page spaced-text" type="text" #inputField required minlength="1" maxlength="2" value="{{ current_page }}" (keydown.enter)="onEnterPress(inputField.value)">
    <!-- Botão Última Aba -->
    @if ( last_page != current_page ) {
        <p class="spaced-text ellipsis">...</p>
        <button class="pages-button spaced-text" (click)="goToSelectPage(last_page)"><p>{{ last_page }}</p></button>
    }
    <!-- Botão Próximo -->
    <button class="pages-button next-icon flex-row" (click)="goToNextPage()">
        <p class="spaced-text next-unspace">Próximo</p>
        <i class="material-symbols-outlined">arrow_forward_ios</i>
    </button>
</div>