<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="main-card">
        <div class="grid-container">
            <div class="grid-item itemA1 comp-spacer-up1">
                <h1>DIÁRIO DE CLASSE</h1>
            </div>
            <div class="grid-item itemA2B2C2D2">
                <img class="key-image" src="../../../assets/images/calendarwshadow.png">
            </div>
            <div class="grid-item itemB1">
                <label>Email: </label><br>
                <div class="input-wrapper">   
                    <input class="input-style" name="email" type="email" formControlName="Username" placeholder="email@email.com.br">
                </div>
            </div>
            <div class="grid-item itemC1">
                <label>Senha: </label><br>
                <div class="input-wrapper">   
                    <button class="toggle-button" (click)="toggleShowPassword()">
                        <i class="toggle-button-icon material-symbols-outlined">{{ hide_password ? 'visibility' : 'visibility_off' }}</i>
                    </button>
                    <input class="input-style" [type]="hide_password ? 'password' : 'text'" formControlName="Password" [placeholder]="hide_password ? '●●●●●●●●●●●' : 'my_password'">
                </div>
            </div>
            <div class="grid-item itemD1">
                <button class="button-style comp-spacer-down1" type="submit">Entrar</button>
            </div>
        </div>
    </div>
</form>