<form>
    <div class="main-card">
        <div class="grid-container">
            <div class="grid-item itemA1A2 comp-spacer-up1">
                <h1>Diário de Classe</h1>
            </div>
            <div class="grid-item itemB1C1D1">
                <img class="key-image" src="../../../assets/images/digitalkey.png">
            </div>
            <div class="grid-item itemB2">
                <p>Realizar Log In</p>
            </div>  
            <div class="grid-item itemC2">
                <label>Email: </label><br>
                <input class="input-style" type="email">
            </div>
            <div class="grid-item itemD2">
                <label>Senha: </label><br>
                <input class="input-style" type="password">
            </div>
            <div class="grid-item itemE1E2">
                <button class="button-style comp-spacer-down1" type="submit">Acessar Conta</button>
            </div>
        </div>
    </div>
</form>