<form>
    <div class="main-card">
        <div class="grid-container">
            <div class="grid-item itemA1 comp-spacer-up1">
                <h1>DIÁRIO DE CLASSE</h1>
            </div>
            <div class="grid-item itemA2B2C2D2">
                <img class="key-image" src="../../../assets/images/calendarwshadow.png">
            </div>
            <div class="grid-item itemB1">
                <label>Email: </label><br>
                <input class="input-style" type="email">
            </div>
            <div class="grid-item itemC1">
                <label>Senha: </label><br>
                <input class="input-style" type="password">
            </div>
            <div class="grid-item itemD1">
                <button class="button-style comp-spacer-down1" type="submit">Entrar</button>
            </div>
        </div>
    </div>
</form>